*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(172, 172, 172);
    color: #ffffff;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    color: black;
}

.titulo1 {
    color: white;
}
.titulo2{
    color: white;
}

.snake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.placar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 13);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:small;
}

@media only screen and (max-device-height: 800px) {
    .snake{
        max-width: 80vw;
    }
    .titulo1 {
        display: none;
    }
    .titulo2{
        display: none;
    }
    .footer {
        display: none;
    }